<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's In Your Beeboo?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <div class="jumbotron main_head" style="text-align: center">
            <h1>Belly Button Data Dashboard</h1>
            <p>Explore these charts about the biodiversity of the human belly button.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel panel-default col-sm-3 col-sm-offset-2">
                <div class="panel-heading">
                    <h4 class="panel-title black">SELECT Sample ID:</h4>
                </div>
                <div class="panel-body">
                    <div class="panel-body black">
                       <select id="selDataset" onchange="optionChange(this.value)"></select>
                       <p><br><br><br></p>
                   </div>
                </div>
            </div>
        <div class="row">
            <div class="panel panel-default col-sm-3 col-sm-offset-2">
                <div class="panel-heading">
                    <h4 class="panel-title black">Sample Data Summary</h4>
                </div>
                <div class="panel-body black">
                    <div id="sample_data" class="panel-body"></div>
                </div>
            </div>
        </div>
    <!-- </div> -->
        <div class="col-sm-10 col-sm-offset-2">
            <br>
            <div id="pie_chart"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <br>
            <div class="col-sm-12" id = "bubble_chart"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p><br><br></p>
        </div>
    </div>
 

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>
